#more_description {
	@include column-count(3);
	@include column-gap(rhythm(2));
}
#full_statement {
}
.option {
	$width: 33;
	$columns: 4;
	display: inline-block;
	float: left;
	width: rhythm(($width - ($columns - 1)) / $columns );
	padding-right: rhythm(1);
	h2 {
	@include adjust-font-size-to($base-font-size * 1.5);
	}
	&:first-child {
	}
	&:last-child {
		padding-right: rhythm(0);
	}
	ul {
		
		@include apply-side-rhythm-border(top, 1px, 0, 1em, solid);
	}
	li {
		@include apply-side-rhythm-border(bottom, 1px, 0.5, 1em, solid);
		list-style-type: none;
	}
}