$uea_black: #535455;
$border-style: solid;

@include establish-baseline();

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {
	margin: 0;
	padding: 0;
}
body {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: $uea_black;
	margin: 0 rhythm(2);
}
#container {
	max-width: rhythm(33);
	margin-right: auto;
	margin-left: auto;	
}
a {
	text-decoration: none;
	color: #2E6EAC;
}
a:visited {
	color: #7ba1c6;
}
a:hover {
	text-decoration: underline;
}
header {
	text-align: center;
}

h1, h2 {
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
}

h1 {
	font-weight: bold;
	@include adjust-font-size-to($base-font-size * 4);
	@include padding-leader(1);
}
h2 {
	text-align: left;
	@include adjust-font-size-to($base-font-size * 2);
}
#logo {
	@include leader(2);
	text-align:center;
}
#main {
	text-align: center;
	@include leader(3);
}
#large-sign{
	text-align: center;
	@include leading-border(1px, 1, 1em, dotted);
	@include leader(0.33);
	@include adjust-font-size-to($base-font-size * 3);
}
#description {
	text-align: left;
}
#description p{
	text-indent: 1em;
}
#more_description {
	@include adjust-font-size-to($base-font-size * 0.9);
	@include leading-border(2px, 1, 1.1em, dotted);
	@include leader(1);
} 
#full_statement {
	text-align: left;
	@include rhythm(3);
	h2 {
		text-align:center;
		@include trailer(0.5);
	}
	p{
		@include trailer(1);
		text-indent: 1em;
	}
	dl {
		padding: 0 2em;
		@include trailer(1);
	}
	dt {
		font-weight:bold;
	}
	dd {
		@include trailer(1);
		@include adjust-font-size-to($base-font-size * 0.9);
	}
} 
#options {
	@include leader(1);
	@include leading-border(1px, 3, 1em, dotted);
		@include trailer(3);
	list-style-type: none;
}
.option {
	@include padding-trailer(1);
}
.option ul {
	text-align: left;
}
.option li {
	@include adjust-font-size-to($base-font-size * 0.9);
	@include padding-leader(0.5);
	p {
		@include adjust-font-size-to($base-font-size * 0.8);
	}
}
footer {
	display: block;
	text-align: center;
  	background: url("../images/Logo_small.png") no-repeat center top;
a {
	position: absolute;
	bottom: 2em;
	right: 0;
	left: 0;
}

}
@include sticky-footer(rhythm(7), "#container", "#layout_footer");