<ul id="options" class="clearfix">
	<li class="option">
		<h2>Updates</h2>
		<ul>
			<li><a href="http://www.facebook.com/SaveUEAMusic">Facebook</a> / <a href="https://twitter.com/#!/SaveUEAMusic">Twitter</a></li>
			<li><a href="http://support.saveueamusic.org/" id="statements_support_link">Statements of support</a></li>
		</ul>
	</li>
	<li class="option">
		<h2>Support</h2>
		<ul>
			<li>
				<a href="/petition">Sign the petition</a>
				<p><em>Brian Eno, Coldplay, Jools Holland, Factory Floor, Field Music, Tony Conrad, John Parish, Jon Hopkins and 7000+ others…</em></p>
			</li>
			<li><a href="files/saveueamusicpetition.pdf">Print a paper version of the petition</a></li>
			<li>
				<a href="http://www.uea.ac.uk/vco/exec/people/edwardacton">Contact the Vice Chancellor</a>
				<p>Please do not just &lsquo;object&rsquo;: we must present arguments.</p>
			</li>
		</ul>
	</li>
	<li class="option">
		<h2>Press</h2>
		<ul>
			<li><a href="http://www.huffingtonpost.co.uk/bill-vine/save-uea-music-school_b_1071525.html"><em>Huffington Post</em></a></li>
			<li><a href="http://www.timeshighereducation.co.uk/story.asp?sectioncode=26&storycode=418013&c=1"><em>Times Higher Education</em></a></li>
			<li><a href="http://www.musiciansunion.org.uk/news-events/2011/11/02/mu-supports-university-of-east-anglia-music-department/"><em>Musician’s Union</em></a></li>
			<li><a href="http://www.bbc.co.uk/news/uk-england-norfolk-15476208"><em>BBC</em></a></li>
			<li>
				<a href="http://www.concrete-online.co.uk/ArticleViewer/tabid/1013/ArticleId/76/Students-react-against-the-sound-of-silence.aspx"><em>Concrete</em></a>
				<p>UEA student paper</p>
			</li>
		</ul>
	</li>
	<li class="option">
		<h2>Documents</h2>
		<ul>
			<li>
				<a href="http://www.scribd.com/doc/70677107/Music-Review-Panel-Report">University report recommending closure</a>
				<ul>
					<li><a href="files/UEA_MUS_response.pdf">School of Music’s response</a></li>
					<li><a href="files/NAMHE_UEA_letter.pdf">National Association for Music in Higher Education (NAMHE)’s response</a></li>	
					<li><a href="files/RMA_response.pdf">Royal Musical Association (RMA)’s response</a></li>
					<li><a href="files/Parent_repsonse.pdf">Current first year parent’s response</a></li>						
				</ul>
			</li>
			<li><a href="http://www.culturallearningalliance.org.uk/userfiles/ImagineNation_doc_FINAL.pdf">Cultural Alliance’s <em>ImagineNation - The Case for 
Cultural Learning</em></a></li>
			<li><a href="http://www.uea.ac.uk/mac/comm/media/press/2011/October/futureofmusic">University press release on the proposed closure</a></li>
		</ul>
	</li>
</ul>